/* ===Global Styles=== */
/* ------------------------------------------- */

body {
	background: #6c5a3f url(/images/siskiwit/body-bg-03.png) left top repeat;
	color: #fff;
	text-align: center; /* fo' IE */
	font-family: georgia, times, times new roman, serif;
	font-size: small;
	}

* { 
	margin: 0;
	padding: 0;
	}

a img {
	border: 0;
	}


/* ===Text Styles and Formatting=== */
/* ------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	padding: 2px 10px 3px 15px;
	font-family: garamond, georgia, times, "times new roman", sans-serif;
	font-weight: normal;
	line-height: 1.1em;
	}

h1 a, h1 a:link, h2 a, h2 a:link, h3 a, h3 a:link {
	text-decoration: none;
	}

h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: underline;
	}

p {
	padding: 4px 15px 8px 24px;
	line-height: 1.6em;
	}

ul {
	padding-top: 2px;
	padding-bottom: 4px;
	}

li {
	margin-left: 30px;
	}

h1 {
	font-size: 230%;
	}
	
h2 {
	font-size: 210%;
	}
	
h3 {
	font-size: 190%;
	}
	
h4 {
	font-size: 150%;
	}
	
h5 {
	font-size: 125%;
	}
	
h6 {
	font-size: 110%;
	}

a, a:link {
	color: #1d273e;
	text-decoration: none;/* 273148 */
	}

a:visited {
	color: #4b556c;
	}

a:hover {
	text-decoration: underline;
	color: #374259;
	}

input {
	font-family: verdana, helvetica, sans-serif;
	vertical-align: middle;
	font-size: 100%;
	}

input.text {
	background-color: #f6f2eb;
	border: 1px solid #666;
	color: #483f33;
	padding: 2px;
	}
	
textarea {
	font-family: verdana, helvetica, sans-serif;
	background-color: #f6f2eb;
	border: 1px solid #666;
	color: #483f33;
	padding: 2px;
	font-size: 100%;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}
code {font-family: monospace;}

/* ===Layout Styles=== */
/* ------------------------------------------- */

div#whopper {
	font-size: 110%;
	width: 776px;
	background: transparent url(/images/siskiwit/whopper-bottom-01.png) left bottom no-repeat;
	/* width: 720px; */
	padding-bottom: 33px;
	margin: 10px auto 0 auto;
	text-align: left; /* fo' IE */
	}
	
div#w3 {
	background: transparent url(/images/siskiwit/whopper-top-01.png) left top no-repeat;
	padding: 25px 31px 0 25px;
	}

div#w2 {
	background: transparent url(/images/siskiwit/whopper-bg-01.png) left top repeat-y;
	} 	

/* ===Header Styles=== */
/* ------------------------------------------- */

div#header {
	background-color: #555d6f;
	background-image: url(/images/siskiwit/header-bg-07.jpg);
	height: 120px;
	}

body#home div#header {
	height: 200px;
	background-image: url(/images/siskiwit/header-home-bg-07.jpg);
	}

div#header a {
	display: block;
	text-indent: -5000px;
	height: 110px;
	text-decoration: none;
	}

body#home div#header a {
	height: 190px;
	}

/* ===Navigation Styles=== */
/* ------------------------------------------- */

div#nav {
	text-transform: uppercase;
	font-size: 100%;
	background: #6f788c url(/images/siskiwit/nav-bg-01.gif) left top repeat-x;
	border-bottom: 1px solid #374259;
	width: 720px;
	float: left;
	}

div#nav ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #99a0af;
	list-style: none;
	}
	
div#nav li {
	margin: 0;
	padding: 0;
	float: left;
	}
	
div#nav a {
	float: left;
	list-style: none;
	text-align: center;
	padding: 10px 12px 10px 12px;
	display: block;
	color: #fff;
	text-decoration: none;
	/* font-size: 110%; */
	background: transparent url(/images/siskiwit/nav-tab-bg-02.png) right top no-repeat;
	}

div#nav a:hover {
	background-position: 100% -80px;
	}

div#nav li.current a {
	background: transparent url(/images/siskiwit/nav-bg-current-02.png) right top repeat-x;
	}

div#nav li.current a:hover {
	background-position: right top;
	}

/* ===Main Styles=== */
/* ------------------------------------------- */

div#main {
	float: left; /* fixes background */
	width: 720px; /* fixes background */
	background: #c9c0b0 url(/images/siskiwit/main-bg-01.png) left top repeat-y;
	color: #483f33;
	}

div#m2 {
	float: left;
	width: 100%;
	background: transparent url(/images/siskiwit/luke-shadow-01.png) right bottom no-repeat;
	}

div#colOne {
	width: 64%;
	float: left;
	}

div#colTwo {
	width: 35%;
	float: right;
	padding-bottom: 180px;
	}

body#photolog div#main {
	background-color: #dbd2c2;
	background-image: none;
	}

body#photolog div#m2 {
	background-image: none;
	}
	
body#photolog div#colOne {
	width: 100%;
	/* changed from inherit */
	float: none;
	}

body#photolog div#colTwo {
	width: 100%;
	/* changed from inherit */
	float: none;
	padding-bottom: 15px;
	}

/* ===Footer Styles=== */
/* ------------------------------------------- */

div#footer {
	font-size: 120%;
	clear: both;
	background: #6f788c url(/images/siskiwit/footer-bg-01.png) left top repeat-x;
	border-bottom: 1px solid #374259;
	}

div#footer p {
	margin: 0;
	padding: 0;
	}

div#f2 {
	border-top: 1px solid #99a0af;
	padding: 20px 10px 20px 10px;
	}

/* ===Content Styles=== */
/* ------------------------------------------- */

div#content {
	padding: 5px 0 10px 0;
	}

div#content h1, div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
	text-align: center;
	}
	
div#content p {
	text-align: justify;
	}

div#content li {
	margin-left: 42px;
	padding-bottom: 3px;
	line-height: 1.4em;
	}

div#content li p {
padding-left: 0;
}

div#content p.contentNav {
	text-align: center;
	/* font-size: 90%; */
	}

div.entry {
	clear: both;
	}

div#content img, div#sidebar img {
	padding: 8px;
	}

div#content img, body#photolog div#sidebar img {
	background-color: #f2ebe0;
	border: 1px solid #c9bead;
	}

div#content img:hover {
	background-color: #eeeeee;
	}

div#content blockquote {
	font-size: 90%;
	background: #dcd4c6;
	border: 1px solid #e3ded4;
	margin: 2px 20px 10px 28px;
	padding: 4px 12px 8px 10px;
	line-height: 1.4em;
}

div#content pre {
	font-family: monospace;
	width: 88%;
	overflow: auto;
	background: #dcd4c6;
	border: 1px solid #e3ded4;
	margin: 2px 0 10px 24px;
	padding: 4px 5px 8px 10px;
	line-height: 1.3em;
}

div#wallpaper li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 2px 0 10px 0;
	width: 152px;
	font-family: verdana, helvetica, sans-serif;
	font-size: 70%;
	text-align: center;
	line-height: 1.8em;
	}
	
/* ===Posted Styles=== */
/* ------------------------------------------- */

div#content div.posted {
	margin: -4px 0 0 15px;
	padding: 0 0 10px 0;
	text-align: right;
	font-family: verdana, helvetica, sans-serif;
	color: #b0a595;
	font-size: 80%;
	}

div#content div.posted ul {
	display: inline;
	margin: 0;
	padding: 2px 0 0 0;
	background: transparent url(/images/siskiwit/posted-bg-01.png) left top repeat-x;
	}

div#content div.posted li {
	margin: 0;
	padding: 0;
	display: inline;
	}

div#content div.posted li.permalink {
	background: transparent url(/images/siskiwit/posted-bg-02.png) right top repeat-y;
	padding-right: 10px;
	}

div#content div.posted li.comments {
	padding-left: 7px;
	}

div#content div.posted a {
	text-decoration: none;
	color: #a69987;
	}

* html div#content div.posted li.permalink a,
* html div#content div.posted li.comments a {
	text-decoration: none;
	color: #a69987;
	}

div#content div.posted a:hover {
	color: #374259;
	}

/* ===Contact Form Styles=== */
/* ------------------------------------------- */

form#contactForm {
padding: 10px 20px 10px 20px;
}

form#contactForm dt {
padding: 5px 0 4px 0;
}

form#contactForm input.text {
width: 260px;
}


/* ===Horizontal Rule Styles=== */
/* ------------------------------------------- */

div#content div.hr01, body#photolog div#sidebar div.hr01 {
	clear: both;
	background: transparent url(/images/siskiwit/hr-01.png) 50% 0 no-repeat;
	margin-top: 5px;
	height: 40px;
	}

div#content div.hr01 hr,
body#photolog div#sidebar div.hr01 hr,
div#sidebar div.hr03 hr {
	display: none;
	}

div#sidebar div.hr03 {
	clear: both;
	background: transparent url(/images/siskiwit/hr-03.png) 50% 0 no-repeat;
	margin-top: 7px;
	height: 27px;
	}

/* ===Photolog-Specific Styles=== */
/* ------------------------------------------- */	
	
body#photolog div#content {
	text-align: center;
	}
	
body#photolog div#sidebar {
	text-align: center;
}

body#photolog ul.recentPhotosList,
body#photolog ul.photoArchiveList {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	}

body#photolog ul.recentPhotosList li,
body#photolog ul.photoArchiveList li {
	display: inline;
	margin: 0;
	}

body#photolog ul.recentPhotosList li,
	padding: 8px;
	}

body#photolog ul.photoArchiveList li {
	padding: 1px;
	}
	
body#photolog ul.photoNavList {
	height: 140px;
	margin: 0;
	padding: 0 0 0 230px;
	list-style: none;
}

body#photolog ul.photoNavList li {
	display: block;
	float: left;
	width: 125px;
	text-align: center;
	margin: 0;
	padding: 0;
}

body#photolog ul.photoNavList li a {
	text-decoration: none;
}

body#photolog ul.photoCategoryList li,
body#photolog ul.photoMonthList li {
	float: left;
	width: 140px;
	list-style: none;
	margin: 0 1px 0 1px;
	text-align: center;
	}

body#photolog ul.photoCategoryList li a,
body#photolog ul.photoMonthList li a {
	text-decoration: none;
	}

div#photologCapsule ul {
	margin: 0;
	padding: 0;
	}
	
div#photologCapsule ul li {
	margin: 0 0 0 65px;
	list-style: none;
	}

div#photologCapsule h2 {
	text-align: center;
	}

/* ===Sidebar Styles=== */
/* ------------------------------------------- */

div#sidebar {
	font-size: 85%;
	padding: 5px 0 10px 4px;
	}

div#sidebar h1, div#sidebar h2, div#sidebar h3, div#sidebar h4, div#sidebar h5, div#sidebar h6 {
	padding-left: 10px;
	padding-right: 5px;
	}

div#sidebar img {
	background-color: #ede3d2;
	border: 1px solid #a79e90;
	}

div#sidebar p {
	padding-left: 10px;
	padding-right: 10px;
	}

div#sidebar div.search h2 {
	padding-left: 15px;
	}
	
div#sidebar input.text {
	margin: 0 0 0 15px;
	width: 170px;
	}

div#sidebar ul.monthArchiveList li,
div#sidebar ul.categoryArchiveList li {
	list-style: none;
	margin-left: 0;
	}

div#sidebar ul.monthArchiveList li,
div#sidebar ul.categoryArchiveList li {
	line-height: 1.4em;
	padding-left: 15px;
	}

div#sidebar ul.recentEntriesList {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
div#sidebar ul.recentEntriesList li {
	margin-left: 12px;
	padding-left: 17px;
	padding-bottom: 3px;
	background: transparent url(/images/siskiwit/li-bullet-01.png) 0 3px no-repeat;
	}
	
div#sidebar ul.recentEntriesList h3 {
	line-height: 1.0em;
	padding: 0 3px 7px 0;
	font-size: 150%;
	}

div#sidebar ul.referencesList {
    padding-left: 0;
	margin-left: 0;
	list-style: none;
	}

div#sidebar ul.referencesList li {
	margin-left: 12px;
	padding-left: 17px;
	padding-bottom: 3px;
	background: transparent url(/images/siskiwit/li-bullet-01.png) 0 3px no-repeat;
	}

/* ===Sundries Capsule Styles=== */
/* ------------------------------------------- */

div#sidebar div#sundriesCapsule h2 {
	text-align: center;
	}
	
div#sidebar div#sundriesCapsule ul {
	list-style: none;
	margin: 0 0 0 8px;
	padding: 0;
	}

div#sidebar div#sundriesCapsule li {
	background: transparent url(/images/siskiwit/li-bullet-01.png) 0 6px no-repeat;
	margin: 0;
	padding: 0 0 5px 17px;
	}

div#sidebar div#sundriesCapsule h3 {
	font-size: 130%;
	padding-bottom: 3px;
	padding-left: 0;
	}

div#sidebar div#sundriesCapsule p {
	padding: 0 10px 6px 0;
	line-height: 1.3em;
	}

div#sidebar div#sundriesCapsule div.posted {
	text-align: right;
	margin: -4px 10px 0 0;
	font-family: verdana, helvetica, sans-serif;
	color: #666;
	padding-bottom: 5px;
	}

div#sidebar div#sundriesCapsule div.posted ul {
	display: inline;
	margin: 0;
	padding: 0;
	background: transparent url(/images/siskiwit/posted-sidebar-bg-01.png) left top repeat-x;
	}

div#sidebar div#sundriesCapsule div.posted li {
	margin: 0;
	padding: 2px 0 0 0;
	display: inline;
	}

div#sidebar div#sundriesCapsule div.posted li.permalink {
	background: transparent url(/images/siskiwit/posted-sidebar-bg-02.png) right top repeat-y;
	padding-right: 10px;
	}

div#sidebar div#sundriesCapsule div.posted li.comments {
	padding-left: 7px;
	}

div#sidebar div#sundriesCapsule div.posted a {
	text-decoration: none;
	color: #666;
	}

* html div#sidebar div#sundriesCapsule div.posted li.permalink a,
* html div#sidebar div#sundriesCapsule div.posted li.comments a {
	text-decoration: none;
	color: #666;
	}

div#sidebar div.posted a:hover {
	color: #374259;
	}

/* ===Comments for Weblog=== */

div#comments div.comment {
	background: #dcd4c6;
	/* border: 1px solid #c9bead; */
	border: 8px solid #e3ded4;
	/* color: #6a5f51; */
	margin: 0 0 15px 35px;
	width: 377px;
	font-size: 85%;
	overflow: auto;
	}

div#comments div.comment p {
	line-height: 1.4em;
	text-align: justify;
	padding-left: 25px;
	padding-right: 25px;
	}

div#comments div.comment h4 {
	font-size: 200%;
	}

div#comments div.dane h4 {
	color: #fff;
	background: #6f788c url(/images/siskiwit/nav-bg-01.gif) left top repeat-x;
	border-bottom: 1px solid #374259;
	border-top: 1px solid #99a0af;
	padding: 2px 0 4px 0;
	margin-bottom: 3px;
}

div#comments div.dane h4 a, div#comments div.dane h4 a:hover {
	color: #fff;
}

div#addComment input.text {
	width: 260px;
	}

div#addComment textarea {
	width: 400px;
	height: 150px;
	}

/* ===Portfolio Styles=== */

div#portfolio dl {
clear: both;
padding-top: 20px;
padding-left: 8px;
}
div#portfolio dt {
font-size: 180%;
}

div#portfolio dd.url {
font-size: 150%;
}

div#portfolio dd.img {
float: left;
width: 230px;
}
div#portfolio dd.work {
float: right;
width: 220px;
}

div#portfolio dd.work li {
font-size: 90%;
padding-left: 0;
margin-left: 0;
padding-bottom: 2px;
list-style: square;
list-style-position: inside;
}

div#portfolio dd.work h4 {
text-align: left;
font-size: 160%;
padding-left: 0;
}


/* ===Generic Formatting Styles=== */
/* ------------------------------------------- */

.left {text-align: left;}
.right, div#content .right, div#sidebar .right {text-align: right;}
.center, div#content .center, div#sidebar .center {text-align: center;}

.hide {display: none;}
.cloak {visibility: hidden;}
.clear {clear: both;}
.clearL {clear: left;}
.clearR {clear: right;}
